.resume-container {
    display: flex;
    flex-direction: column;
}
.iframe {
    width: 900px;
    height: 1200px;
    align-self: center;
}

@media (max-width: 600px) {
    .iframe {
      width: auto;
      height: 600px;
      align-self: center;

    }
  }